* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* clearfix */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* layout */


/* header */
nav {
  line-height: 80px;
}

.contenitor {
  width: 80%;
  margin:0 auto;
}

.logo,.accedi {
  width: calc(100%/2);
  height: 100%;
  display: inline-block;
}

.logo ul li img {
  vertical-align: middle;
  margin-bottom: 8px;
}

.accedi  {
  float: right;
}

.accedi ul {
  float: right;
}

.accedi ul li {
  padding-right: 10px;
}

/* jambo */
.jambo {
  height: 650px;
  background-color: #b4d0e7;
}

.footer {
  height:500px;
}


/* layout */

/* content */

/* header */

nav .logo ul li, nav .accedi ul li {
  display: inline-block;
  list-style: none;
  margin:0 20px;
}




nav ul li a {
  color: black;
  font-size: 20px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}








/* debug */
/* .debug header {
  background-color: purple;
}


.debug .logo {
  background-color: red;

}

.debug .accedi {
  background-color: yellow;
}


.debug .jambo {
  background-color: midnightblue;
} */



.debug footer {
  background-color: springgreen;
}