* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}


/* clearfix */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* layout */


/* header lay */

header {
  border-bottom: 1px solid gray;
  z-index: 99;
}

nav {
  line-height: 80px;
}

.contenitor {
  width: 80%;
  margin:0 auto;
  max-width: 1380px;
}

.logo,.accedi {
  width: calc(100%/2);
  height: 100%;
  display: inline-block;
}

.logo ul li img {
  vertical-align: text-bottom;
}

.accedi  {
  float: right;
  text-align: right;
}


.accedi ul li {
  padding-right: 10px;
}

/* /header lay */

/* jambo lay */
.jambo {
  height: 680px;
  background-color: #b4d0e7;
}

.jambloco h1 {
  padding-top:50px;
  margin-bottom:50px;
}

.imgfirst img {
  width: 70%;
  float: right;
  padding-left: 50px;;
}

.textfirst {
  width: 30%;
}

/* /jambolay */

/* main lay */

.sectfirst {
  margin-top:200px;
}

.buttonstwo input {
  display: inline-block;

}
 /* three rows lay */

.box {
  width: calc(100% / 3 - 27px);
  height: 950px;
  margin:0 40px 20px 0;
  float: left;
}

.box.third {
  margin-right: 0;
}


.box, .line p  {
  border:1px solid lightgray;
}

.col {
  width: 80%;
  margin: 0 auto;
}


/* endrows lay */

.endrow {
  width: 100%;
  margin-top: 30px;
}

.endrow .headerteam {
  text-align: center;
  border:1px solid lightgray;
  height: 40px;
  line-height: 40px;
}



.endrow {
  border:1px solid lightgray;
  margin-bottom: 100px;
}

.endrow .boxteam {
  width: 100%;
}

.endrow .enterprise h2 {
  margin-top: 20px;
}

.linked,.enterprise {
  float: left;
}


/* /endrowslay */


/* secondsectionlay */
.textsecond,.endimage img {
  width: 50%;
  float: right;
}

.secondsection {
  padding-top: 70px;
  margin-bottom: 60px;
}

/* /secondsectionlay */


/* thirdsectionlay */

.secthird .column {
  width: calc(100% / 3 - 40px);
  margin:20px 20px;
  float: left;
}

.lineimage img {
  width: 100%;
}




/* thirdsectionlay */



/* /mainlay */




/* footer lay */
.footer {
  height:500px;
}



/* /footerlay */

/* layout */




/* content */

/* header cont */

nav .logo ul li, nav .accedi ul li {
  display: inline-block;
  list-style: none;
  margin:0 10px;
}



nav ul li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

/* /headercont */

/* jambo cont  */


.jambloco h1 {
  font-size: 90px;
  line-height: 100px;
}

.textfirst p {
  color:#292f35;
  font-size: 20px;
}

.textfirst :nth-child(2) {
  color:white;
  background-color:mediumblue;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  padding:10px;
  display: block;
}

.textfirst :nth-child(3) {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.textfirst i {
  font-size: 50px;
  margin-top: 40px;
  display: block;
}

/* /jambo cont */


/* main cont */

.sectfirst>h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.buttonstwo label {
  font-size: 20px;
  font-weight: 300;
  margin-right: 10px;
}

.buttonstwo input {
  font-size: 50px;
  margin-bottom: 40px;
}

/* row first  */

.line p {
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  height: 40px;
  line-height: 40px;
}



.col h1 {
  font-size: 30px;
  font-weight:800;
  padding-bottom: 5px;
  padding-top: 20px;
}

 

.col>span {
  display: block;
  color: gray;
  font-weight: 700;
  padding-top:10px;
}

.col :nth-child(2) {
  color: black;
}

.col ul li {
  list-style: none;
  line-height: 15px;
}

.col ul {
  margin-bottom: 50px;
}

.col .blu {
  color: white;
  font-size: 20px;
  background-color: mediumblue;
  padding:10px 25px;
  text-decoration: none;
}
.col i {
  display: inline-block;
  margin-top: 40px;
}


.col a {
  text-decoration: none;
  color: blue;
}

.col hr {
  width: 20%;
  color:lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.col h3 {
  font-size: 15px;
  font-weight:800;
}


.col .listsecond li {
  line-height: 45px;
}


/* simbols listsecond sectfirst */
.listsecond b {
  color:mediumblue
}
/* /simbols listsecond sectfirts */


/* endrows cont */



/* /endrowscont */



/* /maincont */
/* /content */




/* debug */
/* .debug header {
  background-color: purple;
}


.debug .logo {
  background-color: red;

}

.debug .accedi {
  background-color: yellow;
}


.debug .jambo {
  background-color: midnightblue;
} */




.debug footer {
  background-color: springgreen;
}