* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* clearfix */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* layout */


/* header lay */
nav {
  line-height: 80px;
}

.contenitor {
  width: 80%;
  margin:0 auto;
}

.logo,.accedi {
  width: calc(100%/2);
  height: 100%;
  display: inline-block;
}

.logo ul li img {
  vertical-align: middle;
  margin-bottom: 8px;
}

.accedi  {
  float: right;
  text-align: right;
}


.accedi ul li {
  padding-right: 10px;
}

/* /header lay */

/* jambo lay */
.jambo {
  height: 650px;
  background-color: #b4d0e7;
}

.jambloco h1 {
  padding-top:50px;
  margin-bottom:50px;
}

.imgfirst img {
  width: 70%;
  float: right;
  padding-left: 50px;;
}

.textfirst {
  width: 30%;
}

/* /jambolay */

/* main lay */

.sectfirst {
  margin-top:200px;
}

.buttonstwo input {
  display: inline-block;

}



/* /mainlay */




/* footer lay */
.footer {
  height:500px;
}



/* /footerlay */

/* layout */




/* content */

/* header cont */

nav .logo ul li, nav .accedi ul li {
  display: inline-block;
  list-style: none;
  margin:0 20px;
}



nav ul li a {
  color: black;
  font-size: 20px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

/* /headercont */

/* jambo cont  */


.jambloco h1 {
  font-size: 90px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 100px;
}

.textfirst p {
  color:#292f35;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.textfirst :nth-child(2) {
  color:white;
  background-color:mediumblue;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  padding:10px;
  display: block;
}

.textfirst :nth-child(3) {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.textfirst i {
  font-size: 50px;
  margin-top: 20px;
  display: block;
}

/* /jambo cont */


/* main cont */







/* /maincont */
/* /content */




/* debug */
/* .debug header {
  background-color: purple;
}


.debug .logo {
  background-color: red;

}

.debug .accedi {
  background-color: yellow;
}


.debug .jambo {
  background-color: midnightblue;
} */




.debug footer {
  background-color: springgreen;
}