* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Open Sans', sans-serif;
}


/* clearfix */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* layout */


/* header lay */

header {
  border-bottom: 1px solid gray;
  z-index: 99;
}

nav {
  line-height: 80px;
}

.contenitor {
  width: 80%;
  margin:0 auto;
  max-width: 1380px;
}

.logo,.accedi {
  width: calc(100%/2);
  height: 100%;
  display: inline-block;
}

.accedi .inizia {
  color: white;
  font-size: 20px;
  background-color: mediumblue;
  padding:10px 25px;
  text-decoration: none;
}

.logo ul li img {
  vertical-align: text-bottom;
}

.accedi  {
  float: right;
  text-align: right;
}


.accedi ul li {
  padding-right: 10px;
}

/* /header lay */

/* jambo lay */
.jambo {
  height: 680px;
  background-color: #b4d0e7;
}

.jambloco #title {
  font-size: 65px;
  font-weight: 600;
  padding-top:50px;
  margin-bottom:50px;
  line-height: 100px;
}

.imgfirst img {
  width: 70%;
  float: right;
  padding-left: 50px;;
}

.textfirst {
  width: 30%;
}

/* /jambolay */

/* main lay */

.sectfirst {
  margin-top:200px;
}

.buttonstwo input {
  display: inline-block;

}
 /* three rows lay */

.box {
  width: calc(100% / 3 - 27px);
  height: 1200px;
  margin:0 40px 20px 0;
  float: left;
}

.box.third {
  margin-right: 0;
}


.box, .line p  {
  border:1px solid lightgray;
}

.col {
  width: 80%;
  margin: 0 auto;
}


/* endrows lay */

.endrow {
  width: 100%;
  margin-top: 30px;
}

.endrow .headerteam {
  text-align: center;
  border:1px solid lightgray;
  height: 40px;
  line-height: 40px;
}



.endrow {
  border:1px solid lightgray;
  margin-bottom: 100px;
}

.endrow .boxteam {
  width: 95%;
  margin:0 auto;
}

.endrow .enterprise h2 {
  margin-top: 20px;
}

.linked,.enterprise {
  float: left;
}

.linked  {
  background-color:mediumblue;
  font-size: 15px;
  font-weight: 800;
  padding:10px 60px;
  margin-top: 20px;
}

.linked a {
  color:white;
  text-decoration: none;

}

/* /endrowslay */


/* secondsectionlay */

.secondsection {
  padding-top: 70px;
  margin-bottom: 100px;
}

.endimage img {
  width: 50%;
  float: left;
}

.textsecond {
  width: 45%;
  float: right;
  margin-top: 40px;
  margin-left: 10px;
}

.textsecond a {
  color: black;
  display: inline-block;
  margin-top: 30px;
  padding: 5px 20px;
  border: 1px solid black;
  text-decoration: none;
}



/* /secondsectionlay */


/* thirdsectionlay */

.secthird {
  margin-bottom: 150px;
}


.secthird .column {
  width: calc(100% / 3 - 60px);
  margin:20px 30px 0 0;
  float: left;
}

.column .lineimage img {
  width: 100%;
  margin-bottom: 10px;
}

.column .undertext p {
  margin-top: 20px;
}


/* foursectionlay */

.foursection h1,.foursection .due {
  font-size: 40px;
  font-weight: 700;
}

.foursection a {
  color: blue;
}

.foursection .due {
  margin-bottom: 20px;
}

.foursection .scatolacentrale {
  margin-top: 30px;
  background-color: lightgray;
  float: left;
}
.scatolacentrale img {
  width: 20%;
}

.foursection .scatolaleft,
.foursection .scatolaright {
  width: 25%;
}

.scatolaleft img,.scatolaright img {
  width: 25%;
}

.scatolaleft {
  float: left;
}
.scatolaright {
  float: right;
}

/* foursectionlay */


/* fivesectionlay */
.fivesection {
  height: 300px;
  background-color: #b4d0e7;
}


.test,.linkfive {
  display: inline-block;
}



.test span {
  color:#61082b;
  font-size: 30px;
  font-weight: 800;
}

.test {
  width: 40%;
  margin-top: 130px;
}
  
.linkfive {
  float:right;
  line-height: 300px;
}

.linkfive a {
  color: black;
  font-weight: 400;
  background-color: white;
  text-decoration: none;
  padding: 5px 35px;
}


/* /fivesectionlay */


/* sixsection */

.sixsection {
  margin-top: 100px;
  margin-bottom: 100px;
}

.sixsection h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.sixsection hr {
  color: lightgray;
}

.sixsection div {
  font-weight: 800;
  margin-top: 35px;
  margin-bottom: 35px;
}

.sixsection div i {
  margin-left:500px;
}



/* /sixsection */



/* /mainlay */




/* footer lay */

.contenitorfooter {
  width: 90%;
  margin: 0 auto;
}

.sevensection {
  height:500px;
  background-color: #000000;
}

.sevensection ul {
  padding-top: 80px;
}

.sevensection  ul  {
  width: calc(100% / 5);
  float: left;
}

.sevensection  ul li {
  line-height: 25px;
}

.sevensection li,.sevensection span {
  color:white;
  list-style: none;
}

.sevensection  ul li h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

.sevensection span {
  display: inline-block;
  margin-top: 150px;
}

.sevensection hr {
  width: 130px;
  color: lightgray;
  margin-bottom: 30px;
}

/* /footerlay */

/* layout */




/* content */

/* header cont */

nav .logo ul li, nav .accedi ul li {
  display: inline-block;
  list-style: none;
  margin:0 10px;
}
nav ul li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

/* /headercont */

/* jambo cont  */



.textfirst p {
  color:#292f35;
  font-size: 20px;
}

.textfirst :nth-child(2) {
  color:white;
  background-color:mediumblue;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  padding:10px;
  display: block;
}

.textfirst :nth-child(3) {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.textfirst i {
  font-size: 50px;
  margin-top: 40px;
  display: block;
}

/* /jambo cont */


/* main cont */


.sectfirst>h1 {
  font-size: 50px;
  margin-bottom: 60px;
}

.buttonstwo label {
  font-size: 20px;
  font-weight: 300;
  margin-right: 10px;
}

.buttonstwo input {
  font-size: 50px;
  margin-bottom: 50px;
}

/* row first  */

.box .row {
  width: 90%;
  margin:0 auto;
}


.line p {
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  height: 40px;
  line-height: 40px;
}



.col h1 {
  font-size: 30px;
  font-weight:800;
  padding-bottom: 5px;
  padding-top: 30px;
}

 

.col>span {
  display: block;
  color: gray;
  font-weight: 400;
  padding-top:10px;
}

.col .black {
  color: black;
  font-weight: 700;
}

.col ul li {
  list-style: none;
  margin-top: 50px;
  text-indent: -12px;
}


.col ul {
  margin-top: 50px;
  margin-bottom: 50px;
}

.col .blu {
  color: white;
  font-size: 20px;
  background-color: mediumblue;
  padding:5px 15px;
  text-decoration: none;
}
.col div {
  display: inline-block;
  margin-top: 40px;
}


.col a {
  text-decoration: none;
  color: blue;
}

.col hr {
  width: 20%;
  color:lightgray;
  margin-top: 30px;
  margin-bottom: 40px;
}

.col h3 {
  font-size: 15px;
  font-weight:800;
  margin-bottom: 20px;
}


.col .listsecond li {
  margin-top: 45px;
}


/* simbols listsecond sectfirst */
.listsecond b {
  color:mediumblue
}
/* /simbols listsecond sectfirts */


/* endrows cont */



.boxteam .enterprise h2 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 15px;
}

.boxteam .enterprise p {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 30px;
}

.boxteam .enterprise :nth-child(3){
  margin-bottom: 30px;
  font-weight: 400;
}

/* /endrowscont */


/* secondsectioncontent */

.textsecond h2 {
  font-size: 30px;
  font-weight: 700;
}

.textsecond p {
  font-weight: 200;
  line-height: 25px;
  margin-top: 20px;
}

/* //secondsectioncontent */


/* thirdsectioncont */

.secthird h1 {
  font-size: 40px;
  font-weight: 900;
} 

.column h2 {
  font-weight: 700;
}

.underline>span {
  border-bottom: 2px solid gray;
}
/* //thirdsectioncont */

/* /maincont */
/* /content */




/* debug */
/* .debug header {
  background-color: purple;
}


.debug .logo {
  background-color: red;

}

.debug .accedi {
  background-color: yellow;
}


.debug .jambo {
  background-color: midnightblue;
} */




/* .debug footer {
  background-color: springgreen;
} */